<section class="section section-shaped">



       
 


  <div class="container-fluid py-md">
    
      <div class="col-lg-12">

          <ngb-carousel>
              <ng-template ngbSlide>
                <img class="img-fluid" src="https://i.picsum.photos/id/944/900/500.jpg" alt="First slide" style="width:1350px;height:500px">
              </ng-template>
              <ng-template ngbSlide>
                  <img class="img-fluid" src="https://i.picsum.photos/id/944/900/500.jpg" alt="First slide" style="width:1350px;height:500px">
              </ng-template>
              <ng-template ngbSlide>
                  <img class="img-fluid" src="https://i.picsum.photos/id/944/900/500.jpg" alt="First slide" style="width:1350px;height:500px">
              </ng-template>
          </ngb-carousel>

  
    </div>
  </div>
  
  <app-versions-section></app-versions-section>

</section>