


<section class="section section-shaped">
  <div class="shape shape-style-1 bg-gradient-default">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="container py-md">
    <div class="row justify-content-between align-items-center">
      <div class="col-lg-4 mb-5 mb-lg-0">
        <h1 class="text-white font-weight-light">Government of Sikkim</h1>
        <p class="lead text-white mt-4">Finance , Revenue and Expenditure Department.</p>
         </div>
      <div class="col-lg-8 mb-lg-auto">
        <div class="rounded shadow-lg overflow-hidden transform-perspective-right">
          <ngb-carousel>
              <ng-template ngbSlide>
                <img class="img-fluid" src="https://i.picsum.photos/id/944/900/500.jpg" alt="First slide">
              </ng-template>
              <ng-template ngbSlide>
                <img class="img-fluid" src="https://i.picsum.photos/id/124/900/500.jpg" alt="Second slide">
              </ng-template>
              <ng-template ngbSlide>
                <img class="img-fluid" src="https://i.picsum.photos/id/944/900/500.jpg" alt="Second slide">
              </ng-template>
          </ngb-carousel>
        </div>
      </div>
    </div>
  </div>
  
 
</section>
<app-versions-section></app-versions-section>
