<style>
  a{
    color:white;
  }
  h5{
    color : red;
  }
  </style>
  
  
  <!-- Footer -->
  <footer class="page-footer font-small blue pt-4" style="background-color: #212529;padding:0px;margin:0px">
  
      <!-- Footer Links -->
      <div class="container-fluid text-center text-md-left">
  
        <!-- Grid row -->
        <div class="row">
  
          <!-- Grid column -->
          <div class="col-md-4 mt-md-0 mt-3">
  
            <!-- Links -->
            <h5 class="text-uppercase">Departments</h5>
  
            <ul class="list-unstyled">
             <li >
            <a [routerLink]="['/home']" class="nav-link" >Department of Financial Services</a>
          </li>
          <li>
            <a [routerLink]="['/home']" class="nav-link" >Department of Revenue</a>
          </li>
          <li>
            <a [routerLink]="['/home']" class="nav-link" >Department of Investment and Public Asset Managment</a>
          </li>
        
            </ul>

  
          </div>
          <!-- Grid column -->
  
          <hr class="clearfix w-100 d-md-none pb-3">
  
          <!-- Grid column -->
          <div class="col-md-4 mb-md-0 mb-3">
  
              <!-- Links -->
              <h5 class="text-uppercase">Quick Links</h5>
  
              <ul class="list-unstyled">
               <li >
              <a [routerLink]="['/home']" class="nav-link" >Life Certificate Form</a>
            </li>
            <li>
              <a [routerLink]="['/home']" class="nav-link" >Government Accounting Rules</a>
            </li>
            <li>
              <a [routerLink]="['/home']" class="nav-link" >General Financial Rules</a>
            </li>
            <li>
              <a [routerLink]="['/feedback']" class="nav-link" >Feedback</a>
            </li>
            <li>
              <a [routerLink]="['/home']" class="nav-link" >Life Certificate Form</a>
            </li>
            <li>
              <a [routerLink]="['/home']" class="nav-link" >Government Accounting Rules</a>
            </li>
            <li>
              <a [routerLink]="['/home']" class="nav-link" >General Financial Rules</a>
            </li>
            <li>
              <a [routerLink]="['/feedback']" class="nav-link" >Feedback</a>
            </li>
              </ul>
  
            </div>
            <!-- Grid column -->
  
            <!-- Grid column -->
            <div class="col-md-4 mb-md-0 mb-3">
  
              <!-- Links -->
              <h5 class="text-uppercase">Useful Links</h5>
  
              <ul class="list-unstyled">
                  <li>
              <a [routerLink]="['/home']" class="nav-link" >Home</a>
            </li>
            <li>
              <a [routerLink]="['/home']" class="nav-link" >Sitemap</a>
            </li>
            <li>
              <a [routerLink]="['/home']" class="nav-link" >Help</a>
            </li>
            <li>
              <a [routerLink]="['/feedback']" class="nav-link" >Feedback</a>
            </li>
              </ul>
  
            </div>
            <!-- Grid column -->
  
        </div>
        <!-- Grid row -->
  
      </div>
      <!-- Footer Links -->
  
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3">
        <a [routerLink]="['/home']" >   COPYRIGHT © 2012 FRED.COM. ALL RIGHTS RESERVED. DESIGN BY INFORMATION TECHNOLOGY DEPARTMENT , GOVERNMENT OF SIKKIM.</a>
      </div>
      <!-- Copyright -->
  
    </footer>
    <!-- Footer -->