<style>
  .my-custom-scrollbar {
position: relative;
height: 400px;
overflow: auto;
}

  /* width */
  ::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 6px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:#1F5AB0; 
    border-radius: 6px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #1F5AB0; 
  }
  
<!--STYLE END SCROLL BAR-->



.table-wrapper-scroll-y {
display: block;
}


th{
  color:#1f5ab0;
}
a{
  color : black;
  font-family :'Times New Roman', Times, serif
}





</style>

<section class="section section-lg">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="table-wrapper-scroll-y my-custom-scrollbar">

          <div class="card border-dark mb-3">
            <div class="card-header" style="background-color: #BF360C;color:white">
              Quick Links
            </div>
            <div class="card-body" style="height:250px">
            <ul>
                <marquee height="200px" scrollamount="2" direction="up" loop="true"> 
             <a href=""> <li>Office ORder</li> </a><br/>
             <a href=""> <li>Seniority List</li> </a><br/>
             <a href=""> <li>OFC N.I.T Details</li> </a><br/>
             <a href=""> <li>Circular</li> </a><br/>
              <a href=""> <li>Budget 1st Supplementry 2019-20</li> </a><br/>
             <a href=""> <li>Office Memorandum</li> </a><br/>
             <a href=""> <li>DA Circular</li> </a><br/>
             <a href=""> <li>Budget Circular 2020-21</li> </a><br/>
            <a href=""> <li>Demand of Grants 2019-20</li> </a><br/>
             <a href=""> <li>Unspent Format</li> </a><br/>
             <a href=""> <li>Notification</li> </a><br/>
             <a href=""> <li>Letter</li> </a><br/>
             <a href=""> <li>O M For VOA 2019-20</li> </a><br/>
             <a href=""> <li>Reports-FRBM</li> </a><br/>
             <a href=""> <li>Reports-FCD</li> </a><br/>
             <a href=""> <li>Gazette</li> </a><br/> 
</marquee>
            </ul>
                        
            </div>
          </div>
        
        </div>
      </div>





      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="table-wrapper-scroll-y my-custom-scrollbar">

          <div class="card border-dark mb-3">
            <div class="card-header" style="background-color: #BF360C;color:white">
              Updates
            </div>
            <div class="card-body" style="height:250px">
            <ul>
                <marquee height="200px" scrollamount="2" direction="up" loop="true"> 

                <a href=""> <li> The Annual General Budget for the Financial Year 2018-19 was passed by the State Legislative Assembly on 6<sup>th</sup> March 2018</li> </a><br/>
                <a href=""> <li>The Compendium on achievements for the period from 1994-2016.</li> </a><br/>
                <a href=""> <li>Explanatory  Memorandum as to the Action Taken on the recommendations made by the Fourth Finance Commission.</li> </a><br/>
              <a href=""> <li> C.I.T: Deduction of Income Tax for other Autonomous Bodies .</li> </a><br/>
                 <a href=""> <li>Budget 1st Supplementry 2019-20</li> </a><br/>
                <a href=""> <li>Report of the 4th State Finance Commission, Sikkim for the Award period 2015-2020.</li> </a><br/>
                <a href=""> <li>Office Memorandum on Implementation of SIFMS.</li> </a><br/>
                <a href=""> <li>Instructions on Sikkim Integrated Financial Management System(SIFMS).</li> </a><br/>
                <a href=""> <li>Online services for VAT launched by Commercial Tax Division, FRED</li> </a><br/>
</marquee>
            </ul>
                        
            </div>
          </div>
        
        </div>
      </div>


      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
        <div class="table-wrapper-scroll-y my-custom-scrollbar">

          <div class="card border-dark mb-3">
          
            <div class="card-body">
              <marquee height="100%" scrollamount="5" direction="left" loop="true">                                 
                      <img id="ctl00_ContentPlaceHolder1_Image2" src="http://sikkimfred.gov.in/user/images/GOVERNOR.jpg" style="border-width:0px;height:250px; width: 240px; border:1px solid black;margin-right: 20px" />
                      <img id="ctl00_ContentPlaceHolder1_Image1" src="http://sikkimfred.gov.in/user/images/CM.jpg" style="border-width:0px;height:250px; width: 240px; border:1px solid black;margin-right: 20px" />
                      <img id="ctl00_ContentPlaceHolder1_Image3" src="http://sikkimfred.gov.in/user/images/sec.jpg" style="border-width:0px;height:250px; width: 240px; border:1px solid black;margin-right: 20px" />
               </marquee>
                        
            </div>
          </div>
        
        
        
        </div>
      </div>

<br/><br/>
    
      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" style="margin-top: 30px">
        <div class="table-wrapper-scroll-y my-custom-scrollbar">

          <div class="card border-dark mb-3">
            <div class="card-header" style="background-color: #BF360C;color:white">
              Department of Financial Services
            </div>
            <div class="card-body">
            <ul>
             <a href=""> <li>About Departments</li> </a>
             <a href=""> <li>Arts & Rules</li> </a>
             <a href=""> <li>PMJDY</li> </a>
             <a href=""> <li>Notification</li> </a>
            </ul>
                        
            </div>
          </div>
        
        </div>
      </div>



<br/><br/>

      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" style="margin-top: 30px">
        <div class="table-wrapper-scroll-y my-custom-scrollbar">

          <div class="card border-dark mb-3">
            <div class="card-header" style="background-color: #BF360C;color:white">
           Department of Revenue
            </div>
            <div class="card-body">
            <ul>
              <a href=""> <li>About Departments</li> </a>
              <a href=""> <li>Arts & Rules</li> </a>
              <a href=""> <li>E-Services</li> </a>
              <a href=""> <li>Contact Details</li> </a>
            </ul>
                        
            </div>
          </div>
        
        </div>
      </div>



<br/><br/>

      <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" style="margin-top: 30px">
        <div class="table-wrapper-scroll-y my-custom-scrollbar">

          <div class="card border-dark mb-3">
            <div class="card-header" style="background-color: #BF360C;color:white">
             Department of Investment and Public Asset Managment
            </div>
            <div class="card-body">
              <a href=""> <li>About Departments</li> </a>
              <a href=""> <li>Disinvestment Policy </li> </a>
              <a href=""> <li>Investors</li> </a>
              <a href=""> <li>Contact Details</li> </a>
                        
            </div>
          </div>
        </div>
      </div>


     
    </div>
  </div>



</section>
