<style>
  .my-custom-scrollbar {
position: relative;
height: 400px;
overflow: auto;
}
.table-wrapper-scroll-y {
display: block;
}


th{
  color:#1f5ab0;
}
</style>

<section class="section section-lg">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="table-wrapper-scroll-y my-custom-scrollbar">

          <table class="table table-bordered  mb-0">
            <thead>
              <tr>
                <th scope="col" style="color:red">News & Press Release</th>
               
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  &#8594;   The Annual General Budget for the Financial Year 2018-19 was passed by the State Legislative Assembly on 6<sup>th</sup> March 2018.
                </th>
                
              </tr>
              <tr>
                <th scope="row">
                  &#8594;   The Compendium on achievements for the period from 1994-2016.
                </th>

              </tr>
              <tr>
                <th scope="row">
                  &#8594;    Explanatory  Memorandum as to the Action Taken on the recommendations made by the Fourth Finance Commission.
                </th>
               
              </tr>
              <tr>
                <th scope="row">
                  &#8594;      C.I.T: Deduction of Income Tax for other Autonomous Bodies .
                </th>
               
              </tr>
              <tr>
                <th scope="row">
                  &#8594;    Report of the 4th State Finance Commission, Sikkim for the Award period 2015-2020.
                </th>
               
              </tr>
              <tr>
                <th scope="row">
                  &#8594;    Office Memorandum on Implementation of SIFMS.
                </th>
               
              </tr>


              <tr>
                <th scope="row">
                  &#8594;    Instructions on Sikkim Integrated Financial Management System(SIFMS).
                </th>
               
              </tr>

              <tr>
                <th scope="row">
                  &#8594;    Online services for VAT launched by Commercial Tax Division, FRED.
                </th>
               
              </tr>

            </tbody>
          </table>
        
        </div>
      </div>


      <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
        <div class="table-wrapper-scroll-y my-custom-scrollbar">

          <table class="table table-bordered  mb-0">
            <thead>
              <tr>
                <th scope="col"  style="color:red">Recent Updates</th>
               
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">
                  &#8594;      Office Order
                </th>
                
              </tr>
              <tr>
                <th scope="row">
                  &#8594;     Seniority List
                </th>

              </tr>
              <tr>
                <th scope="row">
                  &#8594;       OFC N.I.T Details
                </th>
               
              </tr>
              <tr>
                <th scope="row">
                  &#8594;       Circular
                </th>
               
              </tr>
              <tr>
                <th scope="row">
                  &#8594;        Budget 1st Supplementry 2019-20
                </th>
               
              </tr>
              <tr>
                <th scope="row">
                  &#8594;      Office Memorandum.
                </th>
               
              </tr>


              <tr>
                <th scope="row">
                  &#8594;       DA Circular
                </th>
               
              </tr>

              <tr>
                <th scope="row">
                  &#8594;      Budget Circular 2020-21
                </th>
               
              </tr>

            </tbody>
          </table>
        
        </div>
      </div>


     
    </div>
  </div>
</section>
